# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# Matches multiple files with brace expansion notation
# Set default charset and indentation style
[*.{js,json,yml,yaml,md}]
charset = utf-8
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

# Matches the exact files
[{package.json,.travis.yml,.eslintrc,.babelrc}]
indent_style = space
indent_size = 2
